
.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/


.venv/
venv/
virtualenv/
env/


*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/


.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
